.container {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin-top: 60px;
    margin-left: 300px;
    background-color: blue;
    color: #fff;
}
hr{
    width: 580px;
}
select {
    height: 25px;
}
button{
    width: 50px;
    margin-left: 260px;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    border-radius: 4px;
}

.active-button {
    background-color: #bf3f92;
}

.disabled-button {
    background-color: gray;
}

.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.74);
}

.popup-modal {
    border: 2px solid green;
    background-color: rgb(186, 221, 186);
    color: green;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    width: 470px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    margin-left: -30px;
    margin-top: 30px;
}